* {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

html {
    background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    box-sizing: border-box;
    height: 100%;
}

.main-title,
.message-type {
    color: #ffffff;
}

.selection-box {
    display: flex;
    background-color: #ffffff;
    width: 50vh;
    height: 80px;
    margin: 4vh auto;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.message-box {
    width: 70vh;
    height: 12vh;
    display: flex;
    justify-content: center;
    margin-left: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    margin-left: 32vw;
 }

/* .radio-button {
    display: flex;
    color: black;
    padding: 0px 15px 0px 15px;
    margin-left: 30px;
} */

#raido1 {
    padding-right: 40vw;
}

.make-new-message {
    display: flex;
    background-color: #134d71;
    color: #ffffff;
}

.login-name,
.user-name,
.login-page-button {
    border-radius: 10px;
    display: flex;
    margin: 15px;
    margin-left: 40vw;
    justify-content: center;
}

.user-name {
    margin-left: 43.5vw;
}

.login-name {
    color: white;
    margin-right: 42vw;
}

.login-page-button {
    margin-left: 46.5vw;
    background-color: #134d71;
    color: white;
}

.say-greeting {
    color: white;
}

.yoaki {
    height: 70px;
    width: 60px;
}

.hidden {
    display: none;
}
