/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    box-sizing: border-box;
    height: 100%;
}

/* .hidden {
    display: none;
  } */

.main-title {
    color: #ffffff;
}

.message-type {
    color: #ffffff;
}

.selection-box {
    display: flex;
    width: 45%;
    height: 70px;
    margin: 4vh auto;
    border-radius: 10px;

}

.radio-button {

}

.make-new-message {

}

.login-name {

}

.user-name {

}

.login-page {

}

